@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background: #56baed;
}

/*body background*/
body{
  background-image: url(./image/beach1.jpg);
  background-size: cover;
  background-attachment: fixed;

}
.select-box, .play-board, .result-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

/*main box design*/
.select-box{
  background: #e779b7a9;
  padding: 20px 25px 25px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}
.select-box.hide{
  opacity: 0;
  pointer-events: none;
}

/* Game main header */
.select-box header{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 2px black, 
  0 0 1em #2b35c4, 
  0 0 0.2em #e639dd;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

/* title design */
.select-box .title{
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black, 
  0 0 1em #2b35c4, 
  0 0 0.2em #e639dd;
  
  margin: 20px 0;
}
.select-box .options{
  display: flex;
  width: 100%;
}

/* player button design */
.options button{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background: #bfb8da;
  border-radius: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 
  0 0 1em #2b35c4, 
  0 0 0.2em #e639dd;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.options button:hover,
.btn button:hover{
  transform: scale(0.96);
}
.options button.playerX{
  margin-right: 5px;
}
.options button.playerO{
  margin-left: 5px;
}

/* credit design */
.select-box .credit{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 2px black, 
  0 0 1em #2b35c4, 
  0 0 0.2em #e639dd;
}
.select-box .credit a{
  color: #bfb8da;
  text-decoration: none;
}
.select-box .credit a:hover{
  text-decoration: none;
}

/* playboard area design */
.play-board{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* player-turn background box design */
.play-board .details{
  padding: 7px;
  border-radius: 5px;
  background: #e779b7a9;
}
.play-board .players{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
/*O's turn design*/
.players span{
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}

/* still figuring out */
.players.active span:first-child{
  color: #fff;
}
.players.active span:last-child{
  color: #ed5656;
}
.players span:first-child{
  color: #fff;
}

/* player turn slide design*/
.players .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #7facd6;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.players.active .slider{
  left: 50%;
}

/* still figuring out */
.players.active span:first-child{
  color: #56baed;
}

/* active player turn */
.players.active span:nth-child(2){
  color: #fff;  
}
.players.active .slider{
  left: 50%;
}
.play-area{
  margin-top: 20px;
}
.play-area section{
  display: flex;
  margin-bottom: 1px;
}
.play-area section span{
  display: block;
  height: 90px;
  width: 90px;
  margin: 2px;
  color: #fff; /*X & O color play*/
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  background: #7facd6a8; /* background box play-area */
}

/* result box design */
.result-box{
  padding: 25px 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  text-align: center;
  background: #e779b7a9;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box .won-text{
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.result-box .won-text p{
  font-weight: 600;
  margin: 0 5px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 
  0 0 1em #2b35c4, 
  0 0 0.2em #e639dd;
}

/* result box design */
.result-box .btn{
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
/* play again btn design */
.btn button{
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: #e8b7d4;
  border-radius: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 
  0 0 1em #2b35c4, 
  0 0 0.2em #e639dd;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}